h1 {
    text-align: center;
    font-family: sans-serif;
}

main {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#canvas {
    width: 800px;
    height: 600px;
    background-color: grey;
}

#ball {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    margin-top: 400px;
    margin-left: 390px;
}

#score-1 {
    display: inline;
}
 
#score-2 {
    display: inline;
}

#score-box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

#paddle-1, #paddle-2 {
    width: 10px;
    height: 100px;
    background-color: black;
    position: absolute;
    margin-top: 250px;
}

#footer {
    padding-top: 20px;
    text-align: center;
}