h1 {
    text-align: center;
    font-family: sans-serif;
}

main {
    height: 100dvh;
}

#canvas {
    width: 800px;
    height: 600px;
    background-color: grey;
    position: absolute;
    margin: auto;
}